/*  */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;

}
.navbar{
    & img[alt='logo']{
        width: 5rem;
    }
    
}
:is(.nav-link) {
    color: gold; /* Change the text color to gold */
    &:hover{
        color: white;
    }
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: gold;
}
.custom-navbar {
    background-color: rgb(0, 0, 0);
    
}